/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
} */
.containerHome {
  display: grid;
  border: 1px #e94653 solid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(4, 200px);
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}